<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center">
      <h4> <%= t("landing.tech").html_safe %></h4>
      <p class="lead2 offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.tech2").html_safe %></p>
      <p class="lead2 offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.tech3").html_safe %></p>
      <%= t("landing.tech4", href: link_to(t("greenlight"), "https://2meet.de", target: "_blank", rel: "noopener")).html_safe %>
    </div>
  </div>
</div>
